/*Navbar section*/
.img1{
    width: 50px;
 
 }
 nav{
     margin-bottom:30px ;
 }
 .navbar-default{
     background: #fff;
     font-family: Arial, Helvetica, sans-serif;
     border: 0;
 }
 
 .navbar-brand{
     font-size: 25px;
     font-weight: bold;
 }
 
/*End section*/


/*App section*/
#Apps{
    margin-top: 75px;
    background-image: url("../images/shutterstock_331435670.jpg");
    background-size: cover;
}
#app_image{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.app-right{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    padding: 20%;
    text-align: center;
    margin-top: 30%;
}

.btn-primary{
    font-family: 'Times New Roman', Times, serif;
}
/*End section*/

/*Home section*/
#home{ 
    margin-top: 75px;
}
/*End section*/

/*Music section*/
#Music{
    background-image: url("../images/Festival-Crowd--e1472160900369.jpg");
    background-size: cover;
}
#music_img{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-top: 25%;
}
.music-left{
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    padding: 20%;
    text-align: center;
    margin-top: 10%;
}
/*End section*/

/*Game section*/
#Games{
    background-image: url("../images/image-5-1499x625.jpg");
    background-size: cover;
}
.games-left{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    padding: 20%;
    text-align: center;
    margin-top: 15%;
    
}
/*End section*/


/*Store Section*/
#Store{
background-image: url("../images/img_store.jpg");
background-size: cover;
}
.store-left{
        color: rgb(165, 47, 47);
        font-family: 'Times New Roman', Times, serif;
        padding: 20%;
        text-align: center;
        margin-top: 10%;
        margin-left: 20%;
        font-weight: bolder;
}
.centerized{
    margin-left: 18%;
}
/*End Store section*/

/*Contact section*/
#Contact{
    background-color: rgb(206, 201, 201);
}
.contact-left{
    margin-top: 15%;
    font-family: 'Times New Roman', Times, serif;
}
#Contact_span{
    padding-bottom: 5%;
}
.contatc_form{
    padding-top: 5%;
}
#contatc_button{
    margin-left: 20%;
    margin-top: 5%;
}
/*End Contact section*/
.center{
    margin-left: 25%;
    display: inline;
}