.img1{
   width: 50px;

}
.navbar-default{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}
#app_img{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 100%;
}
#home{
    background-color: cornflowerblue;
}

